    /* Modo oscuro */
    $--color-bg-dark: #141414;
    $--color-bg-secondary-dark: #1E1E1E;
    $--color-text-dark: #E0E0E0;
    $--color-text-secondary-dark: #B3B3B3;
    $--color-accent-primary-dark: #BB86FC;
    $--color-accent-secondary-dark: #03DAC6;
    $--color-error-dark: #CF6679;
    $--color-link-dark: #8AB4F8;

    /* Modo claro */
    $--color-bg-light: #FFFFFF;
    $--color-bg-secondary-light: #F5F5F5;
    $--color-text-light: #212121;
    $--color-text-secondary-light: #757575;
    $--color-accent-primary-light: #6200EE;
    $--color-accent-secondary-light: #018786;
    $--color-accent-secondary-hover-light: #017165;
    $--color-error-hover-light: #B00020;
    $--color-error-light:#D32F2F;
    $--color-link-light: #1A73E8;

/* Main Style Start */
    body{
        background-color: $--color-bg-light;
        color: $--color-text-light;
    }

    header, footer{
        background-color: $--color-bg-secondary-light;
        border-bottom: 1px solid $--color-text-secondary-light;
        border-top: 1px solid $--color-text-secondary-light;
    }
    
    h1, h2, h3{
        color: $--color-accent-secondary-light;
    }

    span{
        color: $--color-accent-secondary-light;
    }
/* Main Style End */

/* Inputs Start */
    input, textarea{
        background-color: $--color-bg-secondary-light;
        border: 1px solid $--color-text-secondary-light;
    }
    input:hover, textarea:hover{
        border: 1px solid $--color-accent-secondary-light;
    }

    select {
        background-color: $--color-bg-secondary-light;
        color: $--color-text-light;
    }

    option {
        background-color: $--color-bg-light;
        color: $--color-text-secondary-light;
    }

    select:hover{
        border: 1px solid $--color-accent-secondary-light;
    }

    select:focus, option:focus{
        border: 1px solid $--color-accent-primary-light;
        outline: none;
    }
/* Select End */

/* button and link start */
    a{
        color: $--color-link-light;
    }

    a:hover{
        color: $--color-accent-primary-light;
    }

    button{
        background-color: $--color-accent-secondary-light;
        color: $--color-bg-light;
    }

    button:hover {
        background-color: $--color-accent-secondary-hover-light;
    }

    button:focus {
        background-color: $--color-accent-primary-light;
        outline-offset: 2px;
    }

    .btnHistory{
        background-color: $--color-error-light;
    }
    
    .btnHistory:hover{
        background-color: $--color-error-hover-light;
    }

    .btn-icon{
        color: $--color-text-light;
    }

    .btn-icon:hover{
        color: $--color-accent-secondary-hover-light;
    }
/* button and link End */

/* Pronóstico extendido Start */

/* Pronóstico Extendido End */

/* Loading Start */
#loading{
    color: $--color-accent-secondary-light;
}

#loading-animation {
    color: $--color-accent-secondary-hover-light;
}
/* Loading End */

/* Emergente Start */
.exit-btn i{
    color: $--color-error-hover-light;
}

.exit-btn i:hover{
    color: $--color-error-light;
}
/* Emergente End */

li  a{
    color: $--color-accent-secondary-light;
    border-right: 1px solid $--color-text-secondary-light;
}