/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0rem;
    overflow: hidden;
}

/* Estilos de layout */
header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 65px;
    overflow: hidden;
}

header {
    padding: 1.5rem 0;
}

footer {
    margin-top: 2rem;
}

header, footer {
    text-align: center;
    padding: 1.5rem;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 35px;
    flex: 1;
    padding: 2rem;
    text-align: center;
}

/* Estilos de texto */
h1, h2 {
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

#title{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

footer > p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Estilos de botones */
button {
    border: none;
    padding: 0.75rem 2rem;
    margin: 2% 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btnHistory{
    margin-left: 20%;
}