/* Diseño Responsivo */
@media (max-width: 768px) {
    body {
        padding: 0;
    }

    header, footer, main {
        padding: 1rem;
        max-width: 100%;
    }

    #data-section, #input-section, #history-section {
        padding: 1rem;
        width: 100%;
    }

    #city-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    button:not(.btnHistory) {
        width: 100%;
        display: inline-block;
    }

    #forecast-container {
        flex-direction: column;
        align-items: center;
    }

    .forecast-item {
        width: 100%;
        margin: 0.5rem 0;
    }

    .forecast-title{
        width: 80%;
    }

    .container-card{
        flex-direction: column;
        min-height: 60vh;
        max-height: 60vh;
        margin: 0;
        padding: 0;
    }

    .card-description{
        min-width: 95%;
        max-width: 95%;
    }

    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        max-width: 90%;
        min-width: 90%;
        min-height: 30vh;
        max-height: 30vh;
    }

    .card-img{
        min-width: 90%;
        max-width: 90%;
    }

    .left-btn{
        left: -60%;
    }
    
    .right-btn{
        left: 60%;
    }

    .card-img img{
        margin: auto;
        width: auto;
        max-height: 30vh;
        max-width: 100%;
    }
}

/* Diseño adicional para tablets */
@media (max-width: 1024px) {
    main {
        padding: 1.5rem;
    }

    #city-input {
        width: 60%;
    }

    #directory{
        width: 100%;
    }
}

@media (max-width: 900px) {
    .container-card{
        min-width: 80%;
        max-width: 90%;
    }
}